<div class="row">
  <div data-hook="admin_variant_form_fields" class="col-md-6">
    <div data-hook="variants">
      <div class="form-group" data-hook="code">
        <%= f.label :code, Spree.t(:code) %>
        <%= f.text_field :code, :class => 'form-control' %>
      </div>

      <div class="form-group" data-hook="disabled">
        <%= f.field_container :disabled, class: ['form-group'] do %>
          <%= f.label :disabled, Spree.t(:disabled) %>
          <%= f.error_message_on :disabled %>
          <%= f.check_box :disabled, class: 'form-control' %>
        <% end %>
      </div>

      <!--
        TODO
      <div class="form-group" data-hook="max_uses">
        <%#= f.label :max_uses, Spree.t(:max_uses) %>
        <%#= f.text_field :max_uses, :class => 'form-control' %>
      </div>
      -->
    </div>
  </div>
</div>

