<div class="row">
  <div data-hook="admin_variant_form_fields" class="col-md-6">
    <div data-hook="variants">
      <div class="form-group" data-hook="code">
        <%= f.label :code, Spree.t(:code) %>
        <%= f.text_field :code, :class => 'form-control' %>
      </div>

      <div class="form-group" data-hook="disabled">
        <%= f.field_container :disabled, class: ['form-group'] do %>
          <%= f.label :disabled, Spree.t(:disabled) %>
          <%= f.error_message_on :disabled %>
          <%= f.check_box :disabled, class: 'form-control' %>
        <% end %>
      </div>

      <div class="form-group" data-hook="usage_limit">
        <%= f.field_container :usage_limit do %>
          <%= f.label :usage_limit, Spree.t('usage_limit') %>
          <%= f.number_field :usage_limit, :min => 0, :class => 'form-control' %>
          <p class="help-block">
          <%= Spree.t(:current_promotion_code_usage, :count => @promotion_code.times_used_count) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

